[submodule "crates/wasmi/benches/rust"]
	path = crates/wasmi/benches/rust
	url = https://github.com/vuljector/rust-benchmarks
[submodule "crates/wast/tests/wasmi"]
	path = crates/wast/tests/wasmi
	url = https://github.com/vuljector/wasmi-tests
[submodule "crates/wast/tests/spec"]
	path = crates/wast/tests/spec
	url = https://github.com/vuljector/testsuite
	branch = main
